{% extends 'base.html' %}
{% block page_content %}

<!-- Catalog with Albums-->

<section id="catalogPage">
    {% if  not albums %}
    <!--  If No albums in catalog -->
    <p>No Albums in Catalog!</p>
    {% else %}
    <!-- If albums in catalog -->
    <h1>All Albums</h1>
    {% for album in albums %}
    <!-- First Card-Box in catalog -->
    <div class="card-box">
        <img src="{{ album.image_url }}" alt="Cover Image">
        <div>
            <div class="text-center">
                <p class="name">Name: {{ album.album_name }}</p>
                <p class="artist">Artist: {{ album.artist }}</p>
                <p class="genre">Genre: {{ album.genre }}</p>
                <p class="price">Price: ${{ album.price|floatformat:2 }}</p>
            </div>
            <div class="btn-group">
                <a href="{% url 'album details' album.pk %}">Details</a>
            </div>
        </div>
    </div>
    <!-- End First Card-Box in catalog -->
    {% endfor %}

{#    <!-- Second Card-Box in catalog -->#}
{#    <div class="card-box">#}
{#        <img src="/static/images/pinkFloyd.jpg">#}
{#        <div>#}
{#            <div class="text-center">#}
{#                <p class="name">Name: The Dark Side of the Moon</p>#}
{#                <p class="artist">Artist: Pink Floyd</p>#}
{#                <p class="genre">Genre: Rock Music</p>#}
{#                <p class="price">Price: $28.75</p>#}
{#            </div>#}
{#            <div class="btn-group">#}
{#                <a href="#">Details</a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <!-- End Second Card-Box in catalog -->#}
{##}
{#    <!-- Third Card-Box in catalog -->#}
{#    <div class="card-box">#}
{#        <img src="/static/images/Lorde.jpg">#}
{#        <div>#}
{#            <div class="text-center">#}
{#                <p class="name">Name: Melodrama</p>#}
{#                <p class="artist">Artist: Lorde</p>#}
{#                <p class="genre">Genre: Pop Music</p>#}
{#                <p class="price">Price: $7.33</p>#}
{#            </div>#}
{#            <div class="btn-group">#}
{#                <a href="#">Details</a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    {% endif %}
    <!-- End Third Card-Box in catalog -->

</section>
{% endblock %}